.Arial {
    font-family: Arial, serif;
    font-weight: bold;
}
.position {
    height: 10em;
    position: relative
}
.position p {
    position: absolute;
    top: 100%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%)
}
